<!-- welcome to india {{title}}
<br>
this is {{user}}
<br>
<br>
{{product1.productName}}

<ul>
  <li *ngFor="let product of products">{{product}}</li>
</ul> -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

 <!-- *ngFor - directive 
<li *ngFor="let product of products"></li>    foreach gibi gezer

let - c#'ta ki var gibi
-->